#map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:Arial,sans-serif
  }
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  #target {
    width: 345px;
  }

  .wrapper {
    padding: 20px;
    max-width: 300px;
    width: auto;
    background: rgba(255,255,255,0.95);
    box-shadow: 0 0 0 10px rgba(0,0,0,0.2);
    position: absolute;
    top: 10%;
    right: 15px;
    z-index: 5;
  }

  h2 {
    text-align: center;
    margin: 0;
    font-weight: 200;
  }
  .place-list {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
  }

  .place-list li {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 10px 0;
    font-weight: 100;
    display: flex;
  }

  .place-list label {
    flex:1;
    cursor: pointer;

  }

  .place-list input {
    display: none;
  }

  .place-list input + label:before {
    content: '⬜️';
    margin-right: 10px;
  }

  .place-list input:checked + label:before {
    content: 'X';
  }
  .add-places {
    margin-top: 20px;
    text-align: center;
  }

  .add-places input {
    padding:10px;
    outline:0;
    border:1px solid rgba(0,0,0,0.1);
    background-color: lightgoldenrodyellow;
  }

  .add-places button {
    outline:0;
    padding: 5px;
    border:1px solid rgba(0,0,0,0.1);
    margin: 20px 0 0;
  }
